*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 804px;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 1.13rem;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  font-size: 1.13rem;
  font-weight: 700;
  border: 1px solid #fff;
  block-size: 33px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: auto 399px;
  grid-template-rows: auto;
  gap: 0 30px;
  grid-template-areas:
    ".result"
    ".result__video-container";
  align-items: end;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 711px;
  block-size: 456px;
  /*outline: 1px solid white;*/
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  inline-size: 100%;
  block-size: 53px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  block-size: 100%;
}

.search-form__fieldset-title {
  font-size: 1.13rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  inline-size: 100%;
}

.city {
  inline-size: 225px;
}

.search-form__textfield {
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 1.13rem;
  letter-spacing: -0.04rem;
  color: #fff;
  inline-size: 100%;
  block-size: 27px;
  cursor: pointer;
  padding-left: 0;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  appearance: none;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.time {
  display: block;
  inline-size: 212px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.label_checkbox {
  padding: 0 1px;
  cursor: pointer;
  inline-size: 63px;
}

.label_checkbox:hover {
  text-decoration: underline;
}

.search-form__checkbox {
  display: block;
  background-color: transparent;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1.1rem;
  block-size: 1.1rem;
  border: 1px solid #fff;
  background-color: transparent;
}

.label_checkbox .search-form__label-text {
  margin-left: 5px;
}

.search-form__label-text:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  display: block;
  inline-size: 1rem;
  block-size: 1rem;
  border: 1px solid transparent;
  background-color: #fff;
  outline: 1px solid #fff;
  outline-offset: 1px;
  margin-right: 0.1rem;
}

.search-form__submit-button {
  align-self: flex-end;
  font-size: 0.95rem;
  inline-size: 194px;
}

.content__details {
  inline-size: 399px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 4.65rem;
  line-height: 94%;
  text-transform: uppercase;
  inline-size: 100%;
  margin-bottom: 19px;
  /*outline: 1px solid white;*/
}

.content__accent {
  color: #545050;
}

.content__list-container {
  block-size: 298px;
  overflow: auto;
  padding-bottom: 3px;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding-top: 3px;
  margin-bottom: 30px;
}

.content__list-item {
  padding: 0 3px;
  /*outline: 1px solid white;*/
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
}

.content__video-card:active {
  background-color: #545050;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card-title {
  font-size: 2.1rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: -0.13rem;
  /*inline-size: 85%;*/ /*текст ограничиваем, чтобы он имел ширину после которой пойдёт многоточие*/
  inline-size: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description-container {
  letter-spacing: 0.012ren;
  word-spacing: 8px;
  inline-size: 49%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  /*с учётом вендорных префиксов*/
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.content__video-card-thumbnail {
  inline-size: 50%;
}

.more-button-template {
  inline-size: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.more-button {
  letter-spacing: -0.08rem;
  inline-size: calc(100% - 6px);
}

.preloader-chasing-squares {
  position: absolute;
}

.square {
  position: absolute;
  inset: 0;
}
